@model CustomerReview

<div class="card">
    <div class="card-header">
        <h4>@Model.Customer</h4>
    </div>
    <div class="card-body">
        <p>@Model.Message</p>
        <span>@Model.Author.Name</span>
    </div>
</div>