@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationContext context 

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index"
               title="Welcome">
                My Cart
            </a>
        </li>
        @if (User.Identity.IsAuthenticated && User.IsInRole(Role.RestaurantOwner.ToString()))
        {
            if (context.Restaurants.Where(o => o.Owner == UserManager.GetUserAsync(User).Result).Count() > 0)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Restaurant" asp-action="Index">
                        My Restaurant
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Restaurant" asp-action="AddRestaurant">
                        Add Restaurant
                    </a>
                </li>
            }
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"
                   title="Welcome">
                    My Home
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="Register">Register</a>
            </li>
        }
    </ul> 